@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3 {
    line-height: 1;
}

a,
a:hover {
    text-decoration: none;
}

#j,
#k {
    stroke: black;
    fill: none;
    stroke-width: 10;
    stroke-dashoffset: 3000;
    stroke-dasharray: 3000;
}

.draw-letter {
    -webkit-animation: draw-letter 1s linear forwards;
    animation: draw-letter 1s linear forwards;
}

#site-load {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#site-load svg {
    width: 35vw;
    height: 35vh;
}

.site {
    display: none;
}

.navbar {
    top: -4em;
    height: 4em;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: fixed;
    width: 100vw;
    background-color: white;
}

.drop {
    -webkit-animation: drop-nav 1s forwards;
    animation: drop-nav 1s forwards;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100vw;
}

.logo {
    width: 20vw;
    height: 100%;
    cursor: pointer;
}

.logo img {
    height: 100%;
    padding-left: 1em;
}

.nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 80vw;
}

.nav-links a {
    color: black;
    padding: 1em 5% 0;
    border-bottom: .2em solid;
    border-bottom-color: transparent;
    -webkit-transition: border-bottom-color .4s;
    -o-transition: border-bottom-color .4s;
    transition: border-bottom-color .4s;
    cursor: pointer;
}

.nav-links a:hover {
    border-bottom-color: black;
}

.nav-links a:hover path {
    fill: black;
}

.nav-links a:last-child {
    padding: 1em 2em;
}

.nav-links svg {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 3em;
    height: 100%;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.nav-links svg path {
    fill: transparent;
    stroke: black;
    stroke-width: 30;
    -webkit-transition: fill .4s;
    -o-transition: fill .4s;
    transition: fill .4s;
}

.mobile-nav {
    display: none;
}

.nav-links-mobile {
    display: none;
}

header {
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    position: fixed;
}

.intro-wrapper {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url('../media/img/intro-bg.png') center center;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../media/img/intro-bg.png') center center;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../media/img/intro-bg.png') center center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url('../media/img/intro-bg.png') center center;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../media/img/intro-bg.png') center center;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../media/img/intro-bg.png') center center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../media/img/intro-bg.png') center center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.intro-container {
    min-height: 30vh;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.intro-name,
.intro-title {
    font-size: 21pt;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.intro-name {
    margin-bottom: .5em;
}

.header-refs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    bottom: -5em;
    position: relative;
}

.ref-img {
    padding: .5em 1em;
    margin: 2em 0 !important;
}

#view {
    color: white;
    padding: .5em 3em;
    border: .1em solid white;
    border-radius: 3em;
    font-size: 16pt;
    margin-top: 2em;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
    position: relative;
    bottom: -5em;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    opacity: 0;
    cursor: pointer;
}

.project {
    position: relative;
    overflow: hidden;
    min-height: 90vh;
    color: black;
    top: 100vh;
    background-color: white;
    padding: 10vh 3em 0;
}

.project#pj1 .parallax-img {
    right: 7%;
    width: 40%;
}

.project#pj2 .parallax-img {
    width: 20%;
}

.project#pj2 .parallax-img:nth-child(2) {
    left: 27%;
}

.project-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.project-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.project-title-line {
    width: 0;
    height: 1px;
    background-color: black;
    margin-top: 1em;
    -webkit-transition: width 2s;
    -o-transition: width 2s;
    transition: width 2s;
}

.project-title h2 {
    font-size: 24pt;
    margin: 0 .5em;
}

.widen {
    width: 20%;
}

.icon-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 3em 0;
}

.icon-img,
.ref-img {
    margin: 0 1em;
    width: 3rem;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.project-video {
    position: relative;
    width: 45%;
    height: 45%;
    -webkit-box-shadow: 0 0 2em .1em rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2em .1em rgba(0, 0, 0, 0.2);
    margin-right: 6em;
}

@-moz-document url-prefix() {
    .project-video {
        width: 100%;
    }
}

.project-description {
    position: relative;
    font-size: 14pt;
    width: 100%;
}

.list-title {
    margin: 1em 0;
}

.project-description ul {
    margin-left: 1.5em;
}

.tech {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-top: 2em;
}

.tech span {
    height: 1px;
    background-color: black;
    width: 0;
    margin: .5em auto 1em;
    -webkit-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.tech-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tech-img-container {
    margin: 0 1em 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tech-img {
    width: 5rem;
    margin-bottom: .5em;
}

footer {
    top: 100vh;
    bottom: 0;
    min-height: 20vh;
    min-width: 100vw;
    position: relative;
    background-color: rgb(47, 43, 43);
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-docs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100vw;
    margin: 2em 0;
}

.footer-docs a {
    color: white;
    padding: .5em 0;
    border: .1em solid white;
    border-radius: 3em;
    width: 12em;
    text-align: center;
    font-size: 16pt;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}

.footer-container a {
    margin: 0 .5em;
}

#footer-notes {
    min-height: 5vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
}

@media only screen and (min-width: 986px) {
    #view:hover {
        color: black;
        background-color: white;
    }

    .tech:hover span {
        width: 20%;
    }

    .icon-img:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    .footer-docs a:hover {
        color: black;
        background-color: white;
    }

    .ref-img:hover {
        opacity: 1;
    }
}

/* Smart Phones */
@media only screen and (max-width: 986px) {
    .project {
        padding: 5vh 0;
    }

    .project-description {
        padding: 10vh 0;
        width: 90vw;
        margin: 0 auto;
    }

    .footer-docs {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer-docs a {
        margin-bottom: 1em;
    }

    .tech span {
        width: 20%;
    }

    .logo svg {
        padding: 0 .5em 0;
    }

    .intro-name,
    .intro-title {
        font-size: 10pt;
    }

    .nav-links {
        display: none;
    }

    .mobile-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 80vw;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .open-top {
        -webkit-animation: open-top .7s forwards;
        animation: open-top .7s forwards;
    }

    .open-bot {
        -webkit-animation: open-bot .7s forwards;
        animation: open-bot .7s forwards;
    }

    .close-top {
        -webkit-animation: close-top .7s forwards;
        animation: close-top .7s forwards;
    }

    .close-bot {
        -webkit-animation: close-bot .7s forwards;
        animation: close-bot .7s forwards;
    }

    .mobile-nav-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 1em 2em;
        cursor: pointer;
    }

    .mobile-nav-menu span {
        padding: 2px 15px;
        background-color: black;
        margin: .2em 0;
    }

    .nav-links-mobile {
        position: fixed;
        display: none;
        z-index: 2;
        top: 4em;
        background-color: white;
        height: 0;
        width: 100vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .nav-links-mobile a {
        font-size: 24pt;
        font-weight: bold;
        padding: 1em;
        cursor: pointer;
    }

    .nav-links-mobile a:first-child {
        margin-top: 2em;
    }

    .project-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .project-video {
        width: 90vw;
        height: auto;
        margin: 0 auto;
    }

    header {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 0;
    }
}

@-webkit-keyframes open-top {
    50% {
        -webkit-transform: translateY(.7em) rotate(0);
        transform: translateY(.7em) rotate(0);
    }

    100% {
        -webkit-transform: translateY(.7em) rotate(45deg);
        transform: translateY(.7em) rotate(45deg);
    }
}

@keyframes open-top {
    50% {
        -webkit-transform: translateY(.7em) rotate(0);
        transform: translateY(.7em) rotate(0);
    }

    100% {
        -webkit-transform: translateY(.7em) rotate(45deg);
        transform: translateY(.7em) rotate(45deg);
    }
}

@-webkit-keyframes open-bot {
    50% {
        -webkit-transform: translateY(-.6em) rotate(0);
        transform: translateY(-.6em) rotate(0);
    }

    100% {
        -webkit-transform: translateY(-.6em) rotate(-45deg);
        transform: translateY(-.6em) rotate(-45deg);
    }
}

@keyframes open-bot {
    50% {
        -webkit-transform: translateY(-.6em) rotate(0);
        transform: translateY(-.6em) rotate(0);
    }

    100% {
        -webkit-transform: translateY(-.6em) rotate(-45deg);
        transform: translateY(-.6em) rotate(-45deg);
    }
}

@-webkit-keyframes close-top {
    0% {
        -webkit-transform: translateY(.7em) rotate(45deg);
        transform: translateY(.7em) rotate(45deg);
    }

    50% {
        -webkit-transform: translateY(.7em);
        transform: translateY(.7em);
    }

    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}

@keyframes close-top {
    0% {
        -webkit-transform: translateY(.7em) rotate(45deg);
        transform: translateY(.7em) rotate(45deg);
    }

    50% {
        -webkit-transform: translateY(.7em);
        transform: translateY(.7em);
    }

    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}

@-webkit-keyframes close-bot {
    0% {
        -webkit-transform: translateY(-.6em) rotate(-45deg);
        transform: translateY(-.6em) rotate(-45deg);
    }

    50% {
        -webkit-transform: translateY(-.6em);
        transform: translateY(-.6em);
    }

    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}

@keyframes close-bot {
    0% {
        -webkit-transform: translateY(-.6em) rotate(-45deg);
        transform: translateY(-.6em) rotate(-45deg);
    }

    50% {
        -webkit-transform: translateY(-.6em);
        transform: translateY(-.6em);
    }

    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}

@-webkit-keyframes drop-nav {
    from {
        -webkit-transform: translateY(-4em);
        transform: translateY(-4em);
    }

    to {
        -webkit-transform: translateY(4em);
        transform: translateY(4em);
    }
}

@keyframes drop-nav {
    from {
        -webkit-transform: translateY(-4em);
        transform: translateY(-4em);
    }

    to {
        -webkit-transform: translateY(4em);
        transform: translateY(4em);
    }
}

@-webkit-keyframes drop-nav-responsive {
    from {
        -webkit-transform: translateY(-7em);
        transform: translateY(-7em);
    }

    to {
        -webkit-transform: translateY(7em);
        transform: translateY(7em);
    }
}

@keyframes drop-nav-responsive {
    from {
        -webkit-transform: translateY(-7em);
        transform: translateY(-7em);
    }

    to {
        -webkit-transform: translateY(7em);
        transform: translateY(7em);
    }
}

@-webkit-keyframes draw-letter {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw-letter {
    to {
        stroke-dashoffset: 0;
    }
}