@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

svg {
    position: absolute;
    z-index: -1;
    transform: translateY(-15%);
}

.draw {
    stroke: rgb(0, 4, 44);
    fill: none;
    stroke-width: 4;
}

path {
    fill: none;
}

.navbar {
    top: 0;
    height: 3.5em;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: fixed;
    width: 100%;
}

.nav {
    height: 100%;
    width: 100%;
}

.nav ul {
    padding: 0;
    list-style: none;
}

.nav-links {
    right: 0;
    position: absolute;
}

.nav-links ul {
    float: right;
}

.nav-links li {
    display: inline-block;
}

.logo {
    width: 22rem;
    display: inline-flex;
}

.logo h1 {
    font-size: 30pt;
    margin-left: 0;
    margin-bottom: 0;
}

#last-initial,
#first-initial {
    padding-left: .5rem;
}

.nav-right {
    display: none;
}

.nav-links-mobile {
    display: none;
}

header {
    min-height: 100vh;
    padding: 3.5em;
    background-color: #0288D1;
    min-width: 100vw;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.intro-wrapper {
    position: relative;
    height: 100vh;
}

.console {
    margin: 0 auto;
    padding: 5em 5em;
}

.console-line {
    margin: 1em 0;
}

.intro {
    display: inline;
}

.console div:nth-child(2) .typed-cursor,
.console div:nth-child(3) .typed-cursor,
.console div:nth-child(2) span:nth-child(1),
.console div:nth-child(3) span:nth-child(1),
.console div:nth-child(4) span:nth-child(1) {
    display: none;
}


.dir {
    font-size: 18pt;
    color: rgb(76, 175, 80);
}

.typed-cursor {
    padding: .05em .4em;
    margin-left: .2em;
    background-color: white;
}

[id^="intro-title-"] {
    font-size: 18pt;
    color: white;
    display: inline;
}

.typed-cursor.typed-cursor--blink {
    animation: typedjsBlink 1s infinite;
}

#arrow {
    animation: move-down 1.2s infinite;
    display: block;
    margin: 5em auto 0;
}

.project {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    color: white;
    z-index: 1;
    top: 100vh;

}

.project.pj1 {
    background-color: #f55f47;
}

.project.pj2 {
    background-color: #f0db4e;
}

.project-container {
    position: relative;
    background: rgba(0, 0, 0, .5);
    min-height: 100vh;
}

.parallax-img {
    position: absolute;
    z-index: -1;
}

.project.pj1 .parallax-img {
    right: 7%;
    width: 40%;
}

.project.pj2 .parallax-img {
    width: 20%;
}

.project.pj2 .parallax-img:nth-child(2) {
    left: 27%;
}

.project-content {
    display: flex;
    justify-content: center;
}

.project-video {
    position: relative;
    width: 45%;
    height: 45%;
}

.pj1 .project-video,
.pj2 .project-description p {
    left: -1000px;
}

.pj1 .project-description p,
.pj2 .project-video {
    right: -1000px;
}

.project-description p {
    position: relative;
    font-size: 14pt;
    position: relative;
}

.project-video,
.project-description {
    margin: 1rem 4.2rem;
}

.git-icon {
    width: 5rem;
}

.project-title {
    padding-top: 2em;
    text-align: center;
}

/* tablets and desktop */
@media only screen and (min-width: 986px) {}

/* phones */
@media only screen and (max-width: 986px) {
    .nav-links-mobile {
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .2);
        z-index: 1;
        position: fixed;
    }

    .nav-links {
        display: none;
    }

    .nav-right {
        z-index: 1;
        display: initial;
        width: 10%;
    }

    .nav-menu {
        height: 100%;
    }

    .nav-menu span {
        position: absolute;
        padding: 2px 15px;
        background-color: brown;
    }

    .nav-menu span:nth-child(1) {
        top: 1em;
    }

    .nav-menu span:nth-child(2) {
        top: 1.5em;
    }

    .nav-menu span:nth-child(3) {
        top: 2em;
    }

    .logo {
        width: 90%;
    }

    .nav-item-mobile {
        margin: 0 auto;
    }

    .project-content {
        flex-direction: column;
    }

    .project-video {
        width: 90vw;
        height: auto;
        margin: 2rem auto;
    }

    .project.pj1 .parallax-img {
        width: 60%;
    }

    .project.pj2 .parallax-img {
        width: 30%;
        top: 40%;
    }

    .project.pj2 .parallax-img:nth-child(2) {
        left: 60%;
    }

    header {
        justify-content: flex-start;
        padding: 0;
    }

    .intro-wrapper {
        top: 20vh;
    }

    .console {
        height: 55vh;
        width: 100%;
    }
}

/* portrait phones */
@media only screen and (max-width: 767px) and (orientation: portrait) {}


@keyframes move-down {
    50% {
        transform: translateY(2em);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes close-menu-top {
    100% {
        transform: rotate(45deg) translateY(.7em);
    }
}

@keyframes close-menu-bot {
    100% {
        transform: rotate(-45deg) translateY(-.7em);
    }
}

@font-face {
    font-family: 'New Yorker';
    src: url('fonts/NEWYORKR.eot');
    /* IE9 Compat Modes */
    src: url('fonts/NEWYORKR.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/NEWYORKR.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/NEWYORKR.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('fonts/NEWYORKR.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/NEWYORKR.svg#svgFontName') format('svg');
    /* Legacy iOS */
}