@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    margin: 0;
    line-height: 1;
}

a,
a:hover {
    text-decoration: none;
}

svg {
    width: 100%;
    position: relative;
    left: -15%;
    height: 100%;
}

path {
    fill: none;
}

#j,
#k {
    stroke: white;
    fill: none;
    stroke-width: 8;
}

.navbar {
    top: -4em;
    height: 4em;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, .8);
}

.drop {
    animation: drop-nav 1s 1 forwards;
}

.nav {
    height: 100%;
    width: 100%;
}

.nav ul {
    padding: 0;
    list-style: none;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 75vw;
}

.nav-links a {
    color: white;
    height: 100%;
    padding: 1em 5% 0;
}

.nav-links a:hover {
    border-bottom: .2em solid white;
}

.logo {
    width: 20vw;
    height: 100%;
    display: inherit;
}

.logo h1 {
    font-size: 30pt;
    margin-left: 0;
    margin-bottom: 0;
}

.nav-right {
    display: none;
}

.nav-links-mobile {
    display: none;
}

header {
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    position: fixed;
}

.intro-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/intro-bg.jpg') center center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.intro-title {
    position: relative;
    top: 7em;
    color: white;
    text-align: center;
}

.typed-cursor {
    padding: .05em .5em;
    margin-left: .2em;
    margin-top: .2em;
    background-color: white;
}

.typed-cursor.typed-cursor--blink {
    animation: typedjsBlink 1s infinite;
}

.project {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    color: black;
    z-index: 1;
    top: 100vh;
    background-color: white;
}

.project-container {
    margin-top: 5em;
    display: none;
}

.parallax-img {
    opacity: .1;
}

.project#pj1 .parallax-img {
    right: 7%;
    width: 40%;
}

.project#pj2 .parallax-img {
    width: 20%;
}

.project#pj2 .parallax-img:nth-child(2) {
    left: 27%;
}

.project-content {
    display: flex;
    justify-content: center;
}

.project-video {
    position: relative;
    width: 45%;
    height: 45%;
    box-shadow: 0 0 2em .1em rgba(0, 0, 0, 0.2);
}

.project-description p {
    position: relative;
    font-size: 14pt;
    position: relative;
}

.project-video,
.project-description {
    margin: 1rem 4.2rem;
}

.git-icon {
    width: 5rem;
}

.project-title {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    flex-wrap: nowrap;
}

.project-title-line {
    width: 0;
    height: 1px;
    background-color: black;
    margin-top: 1.3em;
    transition: width 2s;
}

.project-title h1 {
    margin: 0 .5em;
}

.widen {
    width: 30%;
}

/* tablets and desktop */
@media only screen and (min-width: 986px) {}

/* phones */
@media only screen and (max-width: 986px) {
    .nav-links-mobile {
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .2);
        z-index: 1;
        position: fixed;
    }

    .nav-links {
        display: none;
    }

    .nav-right {
        z-index: 1;
        display: initial;
        width: 10%;
        position: absolute;
        right: 0;
    }

    .nav-menu {
        height: 100%;
    }

    .nav-menu span {
        position: absolute;
        padding: 2px 15px;
        background-color: brown;
    }

    .nav-menu span:nth-child(1) {
        top: 1em;
    }

    .nav-menu span:nth-child(2) {
        top: 1.5em;
    }

    .nav-menu span:nth-child(3) {
        top: 2em;
    }

    .nav-item-mobile {
        margin: 0 auto;
    }

    .project-content {
        flex-direction: column;
    }

    .project-video {
        width: 90vw;
        height: auto;
        margin: 2rem auto;
    }

    .project#pj1 .parallax-img {
        width: 60%;
    }

    .project#pj2 .parallax-img {
        width: 30%;
        top: 40%;
    }

    .project#pj2 .parallax-img:nth-child(2) {
        left: 60%;
    }

    header {
        justify-content: flex-start;
        padding: 0;
    }

    .intro-wrapper {
        top: 20vh;
    }
}

/* portrait phones */
@media only screen and (max-width: 767px) and (orientation: portrait) {}

@keyframes close-menu-top {
    100% {
        transform: rotate(45deg) translateY(.7em);
    }
}

@keyframes close-menu-bot {
    100% {
        transform: rotate(-45deg) translateY(-.7em);
    }
}

@keyframes drop-nav {
    from {
        transform: translateY(-4em)
    }

    to {
        transform: translateY(4em);
    }
}